<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel = "stylesheet" href="../styles/employee-sign-up.css">
    <title>Sign Up Trackgenix</title>
    <script src="../javascript/employee-sign-up.js"></script>
</head>
<body>
    <header>
        <h1><a href="../views/index.html">
            Trackgenix
        </h1></a>
    </header>
    <main>
        <section class="image-section">
            <img src="../assets/signup.jpg" alt="sign up image">
        </section>
        <section class="sign-up-form-section">
            <form id="sign-up-form">
                <p class="form-title">
                    Sign up
                </p>
                <section class="input-section">
                    <input type="text" id="name" name="name" placeholder="First name" class="form-input">
                    <input type="text" id="last-name" name="last-name" placeholder="Last name" class="form-input">
                </section>
                <section class="input-section">
                <input type="text" id="dni" name="dni" placeholder="DNI" class="form-input">
                <input type="date" id="birth-date" name="birth-date" class="form-input">
                </section>
                <input type="text" id="mobile-number" name="mobile-number" placeholder="Mobile number" class="form-mobile-number">
                <section class="input-section">
                <input type="text" id="address" name="address" placeholder="Address" class="form-input">
                <input type="text" id="location" name="location" placeholder="Location" class="form-input">
                </section>
                <section class="input-section">
                <input type="text" id="postal-code" name="postal-code" placeholder="Postal Code" class="form-input">
                <input type="text" id="email" name="email" placeholder="Email" class="form-input">
                </section>
                <section class="input-section">
                <input type="password" id="password" name="password" placeholder="Password" class="form-input">
                <input type="password" id="repeat-password" name="repeat-password" placeholder="Repeat Password" class="form-input">
                </section>
                <section class="checkbox">
                    <input type="checkbox" id="terms" name="terms" value="Agree">
                    <label for="terms">I agree to the terms and conditions.</label>
                </section>
                <input type="submit" value="Sign up" class="sign-up-button">
                <p>
                    Already have an account? <a href="../views/login.html">Login</a>
                </p>
            </form>
        </section>
    </main>
</body>
</html>