<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel = "stylesheet" href="../styles/login.css">
    <title>Login Trackgenix</title>
    <script src="../javascript/login.js"></script>
</head>
<body>
    <header>
        <h1>
            Trackgenix
        </h1>
    </header>
    <main>
        <section class="image-section">
            <img src="../assets/login.png" alt="login image" width="100%" height="100%">
        </section>
        <section class="login-form-section">
            <form>
                <p class="form-title">
                    Login
                </p>
                <input type="text" id="email" name="email" placeholder="Email">
                <input type="text" id="password" name="password" placeholder="Password">
                <section class="checkbox">
                    <section>
                        <input type="checkbox" id="remeber-me" name="remember-me" value="remember-me">
                        <label for="remember-me">Remember me</label>
                    </section>
                    <a href="#password-recover">Forgot password?</a>
                </section>
                <input type="submit" value="Login" id="login">
                <input type="submit" value="Continue with Google" class="continue-with">
                <input type="submit" value="Continue with LinkedIn" class="continue-with">
                <p>
                    New to Trackgenix? <a href="../views/sign-up.html">Sign up now</a>
                </p>
            </form>
        </section>
    </main>
</body>
</html>