<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel = "stylesheet" href="../styles/sign-up.css">
    <title>Sign Up Trackgenix</title>
</head>
<body>
    <header>
        <h1>
            Trackgenix
        </h1>
    </header>
    <main>
        <section class="image-section">
            <img src="../assets/signup.jpg" alt="sign up image">
        </section>
        <section class="sign-up-form-section">
            <p class="form-title">
                Sign up
            </p>
            <form>
                <input type="text" id="name" name="name" placeholder="First name">
                <input type="text" id="last-name" name="last-name" placeholder="Last name">
                <input type="text" id="email" name="email" placeholder="Email">
                <input type="text" id="password" name="password" placeholder="Password">
                <input type="checkbox" id="terms" name="terms" value="Agree">
                <label for="terms">I agree to the terms and conditions</label>
                <input type="submit" value="Sign up">
                <p>
                    Already have an account? <a href="../views/login.html">Login</a>
                </p>
            </form>
        </section>
    </main>
</body>
</html>