header {
    position: relative;
    height: 275px;
    width: 80%;
    left: 20%;
    background: #373867;
}
h1 {
    position: relative;
    display: inline-block;
    top: 90px;
    left: 90px;
    font-family: roboto, sans-serif;
    font-size: 128px;
    font-weight: bold;
    color: #FFFFFF;
}
h2 {
    position: relative;
    top: 75px;
    margin-left: 520px;
    font-family: roboto, sans-serif;
    font-size: 16px;
    color: black;
}
form {
    display: block;
    width: 450px;
    height: 400px;
    margin: auto;
    margin-bottom: 50px;
    font-family: roboto, sans-serif;
    line-height: 40px;
}
input[type=text] {
    display: inline-block;
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
}
input[type=submit] {
    width: 100%;
    margin: 8px 0;
    padding: 14px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
}
h3 {
    padding: 30px 0;
    font-size: 28px;
    font-family: roboto, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #373867;
}
aside {
    position: fixed;
    width: 20%;
    height: 100%;
    top: 0;
    background-color: #707070;
    font-family: roboto, sans-serif;
  }
footer {
    position: relative;
    width: 100%;
    height: 180px;
    background: #373867;
}
.icons-small {
    position: absolute;
    display: inline-block;
    width: 160px;
    height: 32px;
    top: 20px;
    right: 20px;
    filter: invert();
}
.icon {
    padding: 0px 3px;
}
.search {
    position: relative;
    top: 30px;
    left: 30px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: #707070;
}
.nav-bar-1 {
    position: relative;
    left: 50px;
    top: 50px;
    font-family: roboto, sans-serif;
    font-size: 15px;
    line-height: 30px;
}
.home-icon {
    position: relative;
    left: 0;
}
.contact {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    margin-bottom: 190px;
}
.background {
    position: relative;
    width: 100%;
    background-color: #b4b4b4;
}
#img1 {
    position: relative;
    top: 80px;
    left: 20%;
    border-radius: 0px 80px 80px 0px;
}
.text-img {
    position: absolute;
    display: inline;
    width: 356px;
    height: 145px;
    left: 20%;
    top: 100px;
    margin-left: 30px;
    font-family: roboto, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:#AACE9B
}
.box1 {
    position: relative;
    width: 355px;
    height: 190px;
    top: 340px;
    padding: 15px 70px 30px 15px;
    float: right;
    background-color: #AACE9B;
    border-radius: 8px 0px 0px 8px;
    font-family: roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 30px;
    opacity: .8;
    color: #373867;

    text-align: center;
}
.section1 {
    position: relative;
    display: inline-block;
    width: 60%;
    left: 20%;
    padding: 50px 120px;
    box-sizing: border-box;
}
.para-title {
    position: relative;
    top: 100px;
    font-family: roboto, sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
}
.para1 {
    position: relative;
    display: block;
    top: 120px;
    margin: auto;
    padding: 20px;
    font-family: roboto, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-style: bold;
    text-align: justify;
    color: #373867;
}
.para-aside {
    position: relative;
    top: 100px;
    float: right;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
    font-weight: bold;
    color: #373867;
}
.green-box {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    left: 30%;
    margin: 150px 10px 50px 10px;
    padding-top: 40px;
    box-sizing: border-box;
    background-color: #AACE9B;
    border-radius: 10px;
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.bubble-container {
    width: 20%;
    margin-top: 150px;
    float: right;
}
.bubble {
    position: relative;
    display: block;
    width: 130px;
    height: 130px;
    margin: 10px;
    padding: 30px 10px 10px 10px;
    box-sizing: border-box;
    background-color: #373867;
    border-radius: 50%;
    border: 10px solid #707070;
    font-family: roboto, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}
.bubble2 {
    position: relative;
    display: block;
    width: 130px;
    height: 130px;
    margin: 30px;
    padding-top: 40px;
    right: 0px;
    left: 60px;
    box-sizing: border-box;
    background-color: #373867;
    border: 10px solid #707070;
    border-radius: 50%;
    font-family: roboto, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;

}
.bubble-text {
    font-weight: bold;
    color: #AACE9B;
}
.history {
    width: 620px;
    height: 521px;
    padding: 0 20px;
    margin-top: 50px;
    margin-left: 30%;
    background-color: #D9D9D9;
    font-family: roboto, sans-serif;
    line-height: 40px;
    text-align: justify;
}
.form-title {
    position: relative;
    display: block;
    margin-top: 50px;
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
}
#text-area {
    width: 100%;
    font-family: roboto, sans-serif;
    left: 0;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
}
.lists {
    text-align: center;
    font-family: roboto, sans-serif;
}
.our-product {
    display: inline-block;
    margin: 40px 20px 40px 0;
}
.company {
    display: inline-block;
    margin: 40px 20px 40px 20px;
}
.support {
    display: inline-block;
    margin: 40px 0px 40px 20px;
}
.footer-img {
    position: relative;
    display: inline-block;
    padding: 5px;
    top: 40px;
    left: 42.5%;
    filter: invert();
}
.copy {
    position: relative;
    display: block;
    top: 40px;
    text-align: center;
    color: #FFFFFF;
}