header {
    width: 100%;
    background: #373867;
}
h1 {
    font-family: roboto, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}
h2 {
    font-family: roboto, sans-serif;
    font-size: 70%;
    color: black;
}