aside {
    display: none;
    width: 20%;
    background-color: #707070;
    font-family: roboto, sans-serif;
}
aside a {
    color: #FFFFFF;
}
ul li a img {
    left: -30px;
}
.search {
    top: 30px;
    left: 30px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: #707070;
}
.nav-bar-1 {
    left: 50px;
    top: 50px;
    font-family: roboto, sans-serif;
    font-size: 15px;
    line-height: 30px;
}
.contact {
    justify-content: flex-end;
    color: #FFFFFF;
}
.contact p {
    padding: 15px;
    text-align: left
}
.contact img {
    margin-left: 15px;
}
@media screen and (min-width: 1024px) {
    aside {
        display: flex;
        flex-direction: column;
    }
}