body, header, main, aside, footer {
    display: flex;
}
body {
    flex-direction: column;
}
.icons-small {
    width: 160px;
    height: 32px;
    top: 20px;
    right: 20px;
    filter: invert();
}
.icons-small img {
    padding: 0px 3px;
}
.box1 {
    padding: 30px;
    margin: 20px;
    background-color: #AACE9B;
    border-radius: 80px;
    font-family: roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    opacity: .8;
    color: #373867;
    text-align: center;
}
.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    font-family: inter, roboto, sans-serif;
    text-align: center;
    padding: 20px;
}
.para-title {
    top: 100px;
    font-family: roboto, sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
}
.para1 {
    display: block;
    top: 120px;
    margin: auto;
    padding: 20px;
    font-family: roboto, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-style: bold;
    text-align: justify;
    color: #373867;
}
.para-aside {
    top: 100px;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
    font-weight: bold;
    color: #373867;
}
.form-title {
    display: block;
    margin-top: 50px;
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
}
#text-area {
    width: 100%;
    font-family: roboto, sans-serif;
    left: 0;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
}